/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}

h1,
h2 {
  font-family: "Ubuntu", sans-serif;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #f6c177;
}
nav {
  background-color: #f6c177;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.flexbox {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}
.textarea {
  display: flex;
  justify-content: center;
}

.note-button {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}
.notebutton {
  display: flex;
  justify-content: left;
  height: 30%;
}
.pagelink {
  display: flex;
  justify-content: right;
  color: #232136;
  height: inherit;
  top: 0;
  list-style-type: none;
  padding-right: 20px;
}
.links {
  display: flex;
  padding-right: 20px;
  list-style-type: none;
  text-decoration: none;
  color: #232136;
}
.new_note {
  display: flex;
  justify-content: center;
}
.index_button {
  display: flex;
  justify-content: left;
  padding-top: 100px;
  margin-left: 200px;
}
.slideout {
  display: flex;
  margin-bottom: 100px;
  top: 0;
  position: fixed;
}
.sidenavbar {
  display: flex;
  position: relative;
  background-color: #c4a7e7;
}
.notenav {
  display: flex;
  justify-content: flex-start;
  position: fixed;
  top: 0;
}
.navlist {
  display: block;
  flex-direction: row;
  padding-left: 20%;
  background-color: #c4a7e7;
}
/* .delsave {
  justify-content: center;
  flex-wrap: wrap;
} */

.s-box {
  margin-top: none;
}
.s-box {
  display: flex;
  justify-content: center;
}
