/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}

h1,
h2 {
  font-family: "Ubuntu", sans-serif;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #f6c177;
}
nav {
  background-color: #f6c177;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.flexbox {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}
.textarea {
  display: flex;
  justify-content: center;
}

.note-button {
  display: flex;
  justify-content: center;
  margin-right: 200px;
}
.notebutton {
  display: flex;
  justify-content: left;
  flex-direction: column;
}
